<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bootstrap demo</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
	crossorigin="anonymous">

<style>
body {
	background-color: #f8f9fa;
}

.performance-card {
	max-width: 600px;
	margin: 50px auto;
	padding: 30px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.stat {
	font-size: 1.5rem;
	margin-bottom: 10px;
}

.stat-label {
	font-weight: bold;
}

.stat-value {
	float: right;
}

.enrolled {
	color: green;
}

.lost {
	color: red;
}
</style>


</head>
<body>
	<!-- Navbar -->



	<div class="container">

		<nav class="navbar navbar-expand-lg"
			style="background-color: #f2f2f2;">
			<div class="container-fluid">
				<a class="navbar-brand" href="#"><img alt=""
					src="suryalogo.png " width="130" height="50"></a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" href="dashboard">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="enquiry">Add
								Enquiry</a></li>

						<li class="nav-item"><a class="nav-link" href="enquires">View
								Enquires</a></li>

					</ul>
					<a href="/" class="btn btn-danger">Logout</a>
				</div>
			</div>
		</nav>
</div>

		<!-- Wrapper to center the div -->
		<div class=" d-flex justify-content-center align-items-center "
			style="height: 500px; background-color: light-gray;">

			<!-- Performance Summary -->
			<div class="text-center"
				style="width: 900px; height: 325px; background-color: lightblue;">
				<div class="container-fluid">
					<div class="row mt-5">
						<div class="col-md-8">
							<h3>Your Performance</h3>
							<p th:text="${empty}" ></p>
							<h2>Total Enquires : <span th:text="${data.totalEnquiresCnt}"></span></h2>
							<h2 class="text-success">Enrolled : <span th:text="${data.enrolledCnt}"></span></h2>
							<h2 class="text-danger">Lost : <span th:text="${data.lostCnt}"></span></h2>
						</div>
						<div class="col-md-4">
							<img alt="" src="admin.png">
						</div>
					</div>
				</div>
			</div>

		</div>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
			crossorigin="anonymous"></script>
</body>
</html>